{% extends "layout.html" %}

{% block body %}

    <div class="container">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="mb-3">
                {{form.userID.label(class="form-label")}}
                {{form.userID(class="form-control")}}
            </div>
            <div class="mb-3"> 
                {{form.title.label(class="form-label")}}
                {{form.title(class="form-control")}}
            </div>
            <div class="mb-3">
                {{form.body.label(class="form-label")}}
                {{form.body(class="form-control")}}
            </div>
            <br>
            <div>
                {{form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>


{% endblock %}