<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Index</title>
</head>
<body>
    <header>
        <ul>
            <a href="/">Home</a>
            <a href="add">Add blog</a>
            <a href="viewID">Show blog by blog id</a>
            <a href="viewUser">Show blogs by User</a>
            <a href="delete">Delete blog</a>
            <a href="updateTitle">Update blog title</a>
            <a href="updateBody">Update blog body</a>
        </ul>
    </header>

    <div>
        {{message}}
    </div>
    
</body>
</html>